---
---

@import url(//fonts.googleapis.com/css?family=Work+Sans);

@mixin small {
  @include media-breakpoint-down(xs) {
    @content;
  }
}

@mixin medium {
  @include media-breakpoint-up(sm) {
    @content;
  }
}

@mixin large {
  @include media-breakpoint-up(md) {
    @content;
  }
}

$footer-height: 97px;

$color-background: #d3d3d3;

$primary: #353535;
$secondary: #6c6d75;
$accent: #3b7bb1;
$dark: $primary;
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
);

$body-bg: $color-background;

$border-radius: 3px;

$dropdown-bg: $color-background;
$dropdown-border-color: $primary;
$dropdown-link-color: $primary;
$dropdown-link-hover-color: $secondary;
$dropdown-link-hover-bg: $color-background;

$font-family-sans-serif: 'Lucida Grande', sans-serif;
$font-family-heading: 'Lucida Grande', sans-serif;

$h1-font-size: 2.3125rem;
$h2-font-size: 1.4375rem;
$h3-font-size: 1.125rem;

$jumbotron-bg: transparent;

$link-color: $accent;

$home-xs-mobile-max-width: 90%;

$sponsor-logo-max-height: 105px;
$sponsor-logo-max-width: 300px;

@import "bootstrap";

.navbar {
  border-bottom: 5px solid $dark;
  margin-bottom: 0;

  .navbar-nav > li {
    margin-right: 0.5em;
  }

  .dropdown-toggle::after {
    margin-left: 0;
  }

  a {
    color: $primary;
    padding-left: 10px;
    padding-right: 10px;

    &:active, &:hover {
      background: $color-background;
      color: $accent;
      text-decoration: none;
    }
  }
}

.navbar-dark {
  @include large {
    padding: 0 2em;
  }
}

a.navbar-brand {
  padding: 2px 5px;
}

a.navbar-brand img {
  display: inline-block;
  height: 60px;
}

.jumbotron {
  margin-bottom: 0;
  overflow: hidden;
  padding: 2em;
  text-align: center;

  body.home & {
    background: $color-background;
  }

  img {
    display: block;
    margin: auto;
    max-height: 66vh;
    max-width: 100%;
  }

  .player {
    margin: auto;
    max-width: 1280px;
    max-height: 720px;
    overflow: hidden;
    margin-bottom: 2em;
    position: relative;
  }

  .player:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  .player iframe {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
  }
}

html {
  font-size: 100%;
  min-height: 100%;
  position: relative;
}

body {
  font-size: 100%;
  margin-bottom: $footer-height;

  & > .container::before {
    margin-bottom: 20px;
  }

  &.home {
    & > .container::before {
      margin-bottom: 0;
    }
  }
}

div.day-of {
  border-bottom: 2px solid $dark;
  display: none;
  margin: 0;
  padding: 1rem;
  text-align: center;

  a {
    color: $primary;
  }

  h3 {
    font-size: $h2-font-size;
    font-weight: bold;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 2rem;
    }
  }
}

body.venue ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

cite {
  font-size: 85%;
}

section.main {
  background: $white;
  min-height: 80vh;
  padding: 1em 0;

  .home & {
    min-height: 0;
    padding: 1em 0;
  }

   body.post & {
     img {
       display: block;
       margin: 0 auto;
     }
   }
}

div.edit-this-page {
  background: $white;
  font-size: 80%;
  text-align: center;
}

section.main.empty, section.main.empty + div.edit-this-page {
  background: $color-background;

  a {
    color: $primary;
  }
}

.center-image {
  display: block;
  margin: 0 auto;
}

.alert-cta {
  @include alert-variant($primary, $primary, $secondary);
}

div.posts {
  padding: 0;

  @include small {
    margin: 0 auto;
    max-width: $home-xs-mobile-max-width;
  }

  @include large {
    padding-left: 2em;
  }

  ol {
    list-style: none;
    padding: 0;
  }
}

ul.sponsors {
  align-items: top;
  padding: 0;

  li {
    list-style: none;
    text-align: center;
  }

  @include large {
    a.logo {
      align-items: center;
      display: flex;
      height: $sponsor-logo-max-height;
      justify-content: center;
    }

    img {
      max-height: $sponsor-logo-max-height;
    }

    &.platinum a.logo {
      height: $sponsor-logo-max-height * 2;
      max-width: 100%;
    }

    &.platinum img {
      max-height: $sponsor-logo-max-height * 2;
      max-width: $sponsor-logo-max-width * 2;
    }
  }

  img {
    max-width: $sponsor-logo-max-width;
    object-fit: contain;
    width: 100%;
  }
}

div.sponsors {
  padding: 0;

  .row {
    margin: 0;
  }

  ul {
    align-items: center;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 2em;
      padding: 0;
      text-align: center;

      img {
        max-width: $home-xs-mobile-max-width;
      }
    }
  }
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

h1 {
  background: $white;
  color: $dark;
}

h2 {
  font-weight: normal;
  text-decoration: underline;

  body.home &, body.sponsors & {
    margin: 0 0 2rem;
    text-align: center;
  }
}

h3 {

  body.home & {
    color: $primary;
    text-align: center;
  }
}

dl {
  font-size: 1rem;
  line-height: 1.6;
}

dt {
  margin-bottom: 0.3rem;
}

dd {
  margin-bottom: 0.75rem;
}

blockquote {
  margin: 0 2rem 1rem;
}

ol.talks {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border: 1px solid $color-background;
    margin-bottom: 0.5rem;
    padding: 15px;

    @include large {
      border-radius: $border-radius;
    }

    h3 {
      font-size: $h2-font-size;
      margin-top: 0;
    }

    h4 {
      font-size: $h3-font-size;
    }
  }
}

ul.talks {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.talk {
  dt {
    clear: both;
    float: left;
    font-weight: normal;

    &::after {
      content: "\00a0 ";
    }
  }

  h3 {
    font-size: $h2-font-size;
  }

  h4 {
    font-size: $h3-font-size;
  }
}

body.schedule {
  h2 {
    text-align: center;
    text-decoration: none;
  }

  h3 {
    font-size: $h2-font-size;
  }

  h4 {
    font-size: $h3-font-size;
  }

  @media print {
    footer,
    nav,
    .edit-this-page {
      display: none;
    }
  }
}

ol.schedule {
  list-style: none;
  margin: 0;
  padding: 0;

  @media print {
    & {
      page-break-after: always;

      &:last-of-type {
        page-break-after: avoid;
      }
    }

    div.row {
      page-break-inside: avoid;
    }

    a[href]:after {
      visibility: hidden;
    }
  }

  h4 {
    font-weight: bold;
    margin: 0;
  }

  a:hover {
    text-decoration: none;

    & h4 {
      text-decoration: underline;
    }
  }

  div.slots {
    @include medium {
      display: flex;
    }

    @media print {
      display: flex;
    }

    div {
      background: #f9f9f9;
      border: 1px solid $color-background;
      margin: 0 0.5rem 0.5rem 0;
      padding: 1.75rem 1rem 1rem;
      position: relative;

      @include small {
        width: 100%;
      }

      @include medium {
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;
        vertical-align: top;
      }

      @media print {
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;
        padding-bottom: 0.5rem;
        vertical-align: top;
      }

      @include large {
        border-radius: $border-radius;
      }

      &.break,
      &.meal,
      &.remarks {
        background: none;
        border: 0;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        .location {
          position: relative;
          right: 0;
          top: 0;
        }
      }

      .location {
        color: $color-background;
        position: absolute;
        right: 5px;
        top: 0.25rem;
      }

      .presenters {
        color: $color-background;
      }
    }
  }
}

table.schedule {
  border-collapse: separate;
  border-spacing: 2px;
  margin-bottom: 0.5rem;
  table-layout: fixed;
  width: 100%;

  thead tr,
  tr:nth-of-type(even) {
    background: #f9f9f9;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 0.5rem 0.625rem 0.625rem;
    text-align: center;

    &:first-child {
      width: 85px;
    }
  }

  td {
    &.time {
      vertical-align: top;
      white-space: nowrap;
    }

    &.talk a.title {
      display: block;
    }
  }
}

footer {
  background: $color-background;
  bottom: 0;
  display: block;
  font-size: 10pt;
  height: $footer-height;
  line-height: 1.5;
  position: absolute;
  text-align: center;
  width: 100%;

  .credits {
    padding: 20px 0;
  }

  a {
    color: $secondary;
  }
}
